@import 'variables';
@import 'fonts';


body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $primary-text-color;
}

main {
  flex: 1 0 auto;
}

.btn-user{
  text-transform: capitalize;
}

#app-layout{
  nav{
    background-color: $primary-color;
    .btn-user{
      text-transform: capitalize;
    }
    .nav-logo{
      background-color: $accent-color;
      &:hover{
        background-color: $accent-color;
        opacity: 0.7;
      }
    }
    .dropdown-content{
      li{
        a{
          color: $primary-color;
        }
      }
    }
    .side-nav{
      a{
        color: $primary-color;
      }
    }
  }
  .content-alert{
    margin: 10px 0;
    .alert-success{
      background-color: $accent-color;
      color: $primary-color-text;
      border-radius: 4px;
      width: 320px;
      height: 60px;
      padding: 10px;
    }
    .alert-error{
      background-color: $error-color;
      color: $primary-color-text;
      border-radius: 4px;
      width: 320px;
      height: 60px;
      padding: 10px;
    }
    .alert-info{
      background-color: $primary-color-light;
      border-radius: 4px;
      width: 320px;
      height: 60px;
      padding: 10px;
    }
    .close{
      color: $primary-text-color;
    }
  }
}

.content-tareas{
  .btn-accent-color{
    background-color: $accent-color;
  }
  .tr-color-light{
    background-color: $primary-color-light;
  }
  td{
    border-radius: 0;
  }
  .collapsible-header{
    background-color: transparent;
    border: none;
  }
  .collapsible{
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}

.content-welcome{
  h1{
    color: $accent-color;
  }
  .btn-large{
    background-color: $accent-color;
  }
}

.section-welcome{
  .icon-block{
    h2{
      color: $primary-color;
    }
  }
}


footer.page-footer{
  background-color: $primary-color;
}
